PORT=5000
REDIS_HOST=your_redis_host
REDIS_PORT=19605
REDIS_PASSWORD=your_redis_password
JWT_SECRET=your_jwt_secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_password
REVENUECAT_API_KEY=your_revenuecat_api_key
